  /* MUESTRA (...) CUANDO LA INFORMACION EXEDE DE COLUMNA */
  .truncate-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
  }

  .btn-custom {
      height: 40px;
      /* Ajusta la altura según sea necesario */
  }